@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  button {
    letter-spacing: inherit;
  }
  html {
    @apply font-medium;
    @apply text-offBlack;
    @apply text-md;
  }
  body {
    @apply bg-white font-sans;
  }

  html, body {
    overscroll-behavior: none;
  }

  @font-face {
    font-family: 'EngraversEF';
    src: url('/fonts/EngraversEF-Roman.woff2') format('woff2'),
        url('/fonts/EngraversEF-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Snell';
    src: url('/fonts/SnellBT-Regular.woff2') format('woff2'),
        url('/fonts/SnellBT-Regular.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'EngraversGothic';
    src: url('/fonts/EngraversGothicBT-Regular.woff2') format('woff2'),
        url('/fonts/EngraversGothicBT-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'EurostileMonoEF';
    src: url('/fonts/EurostileMonoEF-Regular.woff2') format('woff2'),
        url('/fonts/EurostileMonoEF-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

}

@layer components {
  .linkTextNavigation {
    @apply decoration-[0.1em] underline-offset-[0.1em] hover:underline;
  }

  .portableText {
    ol {
      list-style-type: decimal;
    }
    ol ol {
      list-style-type: lower-alpha;
    }
    ol ol ol {
      list-style-type: lower-roman;
    }

    ul {
      list-style: disc outside;
    }
    ul ul {
      list-style: circle outside;
    }
    ul ul ul {
      list-style: square outside;
    }
  }

  .select {
    align-items: center;
    background-color: theme('colors.lightGray');
    border-radius: theme('borderRadius.full');
    color: theme('colors.offBlack');
    display: flex;
    font-size: theme('fontSize.sm');
    font-weight: theme('fontWeight.bold');
    height: 2.5rem;
    justify-content: center;
    letter-spacing: theme('letterSpacing.normal');
    overflow: hidden;
    padding: theme('padding.4');
    transition: all 200ms ease-out;
  }

  .select:disabled {
    color: theme('colors.darkGray');
  }

  .select:hover:not(:disabled) {
    opacity: 0.9;
  }
}

* {
  font-variant-ligatures: none;
}

html {
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

.embla__slide {
  position: relative;
  flex: 0 0 100%;
}
