# These variables are only available locally in MiniOxygen
# https://shopify.dev/docs/custom-storefronts/hydrogen/environment-variables

## Shopify Environment Variables
# A secret used to sign session cookies.
SESSION_SECRET="foobar"
# The public access token for the Storefront API.
PUBLIC_STOREFRONT_API_TOKEN=""
# (Optional) The Storefront API version.
# Defaults to the version of the Storefront API used by Hydrogen.
PUBLIC_STOREFRONT_API_VERSION="2023-01"
# The domain of the store used to communicate with the Storefront API.
PUBLIC_STORE_DOMAIN=""

## Sanity Environment Variables
# Project ID
SANITY_PROJECT_ID=""
# Dataset name
SANITY_DATASET=""
# (Optional) Sanity API version
SANITY_API_VERSION=""
# Sanity token to authenticate requests in "preview" mode
# https://www.sanity.io/docs/http-auth
SANITY_API_TOKEN=""
# Secret for authenticating preview mode
SANITY_PREVIEW_SECRET=""