@shopify:registry=https://registry.npmjs.com
progress=false

# Adjust log level
# https://docs.npmjs.com/cli/v8/using-npm/config#loglevel
loglevel="warn"

# Disable audit reports
# https://docs.npmjs.com/cli/v8/using-npm/config#audit
audit=false

# Disable funding message
# https://docs.npmjs.com/cli/v8/using-npm/config#fund
fund=false