@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-medium;
    @apply text-offBlack;
    @apply text-md;
  }
}

@layer components {
  .linkText {
    display: inline-block;
    border-bottom-width: 0.125em;
    border-bottom-style: solid;
    border-bottom-color: transparent;
  }
  .linkText:hover {
    border-bottom-color: inherit;
  }

  .linkTextNavigation {
    display: inline-block;
    border-bottom-width: 0.125em;
    border-bottom-style: solid;
    border-bottom-color: transparent;
  }
  .linkTextNavigation:hover {
    border-bottom-color: inherit;
  }

  .select {
    align-items: center;
    background-color: theme('colors.lightGray');
    border-radius: theme('borderRadius.full');
    color: theme('colors.offBlack');
    display: flex;
    font-size: theme('fontSize.sm');
    font-weight: theme('fontWeight.bold');
    height: 2.5rem;
    justify-content: center;
    letter-spacing: theme('letterSpacing.normal');
    overflow: hidden;
    padding: theme('padding.4');
    transition: all 200ms ease-out;
  }

  .select:disabled {
    color: theme('colors.darkGray');
  }

  .select:hover:not(:disabled) {
    /* background-color: theme('colors.gray'); */
    opacity: 0.9;
  }
}

@layer utilities {
  .scroll-snap-x {
    scroll-snap-type: x mandatory;
  }
  .snap-start {
    scroll-snap-align: start;
  }
  .snap-smooth {
    scroll-behavior: smooth;
  }
  .snap-px-4 {
    scroll-padding-left: 1rem;
    scroll-padding-right: 1rem;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

* {
  font-variant-ligatures: none;
}

html {
  -webkit-font-smoothing: antialiased;
  scroll-padding-top: 10rem;
}

.embla__slide {
  position: relative;
  flex: 0 0 100%;
}
