@tailwind base;
@tailwind components;
@tailwind utilities;

model-viewer::part(default-progress-mask) {
  display: none;
}

model-viewer::part(default-progress-bar) {
  display: none;
}

strong {
  font-weight: 500;
}

/* Embla-carousel */

.embla {
  position: relative;
}

.embla__viewport {
  overflow: hidden;
  width: 100%;
}

.embla__viewport.is-draggable {
  cursor: move;
  cursor: grab;
}

.embla__viewport.is-dragging {
  cursor: grabbing;
}

.embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.embla__slide {
  position: relative;
  min-width: 100%;
}

.embla__slide__inner {
  position: relative;
  overflow: hidden;
  /* height: 190px; */
}

.embla__slide__img {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  width: auto;
  min-height: 100%;
  min-width: 100%;
  max-width: none;
  transform: translate(-50%, -50%);
}

/*
.embla__button--prev {
  left: 27px;
}

.embla__button--next {
  right: 27px;
}
*/
